<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/app/css/courses.css">
    <link rel="stylesheet" href="../../static/app/css/common.css">
    <link rel="stylesheet" href="../../static/app/css/grid.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="icon" href="../../static/app/img/logo.ico" type="image/gif" sizes="40x40">
    <title>Greenwich Academy - Kurslarımız</title>

</head>
<body>

    <section id="header-slider">
        <div class="header">
            <div class="logo">
                <!-- <img src="../../static/app/img/logo.png" alt=""> -->
                <h3 style="margin-bottom: 0px;"> <a href="{{url_for('index')}}">Greenwich Academy</a></h3>
            </div>
            <div class="navbar" >
                <ul >
                    <li><a href="{{url_for('index')}}">Əsas səhifə</a></li>
                    <li><a href="{{url_for('about')}}">Haqqımızda</a></li>
                    <li><a href="{{url_for('courses')}}">Kurslarımız</a></li>
                    <li><a href="{{url_for('education_abroad')}}">Xaricdə təhsil</a></li>
                    <li class="nav-contact" style="border: none;"><a  href="{{url_for('contact')}}">Bizimlə əlaqə</a></li>
                </ul>
                
            </div>
        </div>
</section>
<!-- Courses head -->
<section id="courses-head" style="background: url(../../static/app/img/courses-bg.jpg) ; " >
    <div class="courses-text">
        Kurslarımız
    </div>
</section>
<!-- courses-page -->
<style>
    body{
        margin: 0px auto;
        font-family: 'Raleway', sans-serif;
        line-height: 1.2rem;
    }
    #courses-page{
       margin: auto;
    }
    .grid-container{
        padding: 50px 0px;
        width: 65%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
    .grid-item{
        
        height: 450px;
        width: auto;
        overflow: hidden;
        object-fit: cover;
        color: white;
        border-radius: 10px;
    }
    .grid-item img{
        overflow: hidden;
        height: 280px;
        object-fit: cover;
        width: 100%;
    }
    
    .title{
        padding: 15px;
        background:#333333;
        margin: -4px 0px;
    }
    .desc{
        background-color: #AD9E8A;
        padding: 17px;
    }
</style>
<section id="courses-page" style="background-image: url(../../static/app/img/timelinebg.png);">
    <div class="grid-container">
        {% for courses in courses %}
      <div class="grid-item">
          <img src="{{ url_for('static', filename='uploads/' + courses.img) }}" alt="">
          <div class="title">{{courses.title}}</div>
          <div class="desc">{{courses.desc}}</div>
      </div>
      {% endfor %}
    </div>








            <!-- <div class="col-4" style="margin-right: 30px;">
                <div class="img">
                    <img src="../../static/app/img/courses-1.jpg" alt="">
                </div>
                <div class="course-name">Ümumi İngilis dili</div>
                <div class="course-info-1">Lorem ipsum dolor sit amet Quod at doloribus dolores ipsum perspiciatis, quisquam accusamus error a rem similique praesentium autem aperiam mollitia dignissimos optio dolore sapiente ullam odio!</div>
            </div> -->


            <!-- <div class="col-4" style="margin-right: 30px;">
                <div class="img">
                    <img src="../../static/app/img/courses-2.jpg" alt="">
                
                </div>
                <div class="course-name">Biznes İngilis dili</div>
                <div class="course-info-2">Lorem ipsum dolor sit amet Quod at doloribus dolores ipsum perspiciatis, quisquam accusamus error a rem similique praesentium autem aperiam mollitia dignissimos optio dolore sapiente ullam odio!</div>
            </div> -->


            <!-- <div class="col-4">
                <div class="img">
                    <img src="../../static/app/img/for-kids.jpg" alt="">
                </div>
                <div class="course-name">Uşaqlar üçün İngilis dili</div>
                <div class="course-info-3">Lorem ipsum dolor sit amet Quod at doloribus dolores ipsum perspiciatis, quisquam accusamus error a rem similique praesentium autem aperiam mollitia dignissimos optio dolore sapiente ullam odio!</div>
            </div>
            
        </div> -->
        
        <!-- <div class="courses-row">
            <div class="col-4" style="margin-right: 30px;">
            <div class="img">
                <img src="../../static/app/img/chess.jpg" alt="">

            </div>
            <div class="course-name">Şahmat dərsləri</div>
            <div class="course-info-4">Lorem ipsum dolor sit amet Quod at doloribus dolores ipsum perspiciatis, quisquam accusamus error a rem similique praesentium autem aperiam mollitia dignissimos optio dolore sapiente ullam odio!</div>
</div> -->


<!-- <div class="col-4" style="margin-right: 30px;">
            <div class="img">
            <img src="../../static/app/img/abituriyent.jpg" alt="">

            </div>
            <div class="course-name">Abituriyent hazırlığı</div>
            <div class="course-info-5">Lorem ipsum dolor sit amet Quod at doloribus dolores ipsum perspiciatis, quisquam accusamus error a rem similique praesentium autem aperiam mollitia dignissimos optio dolore sapiente ullam odio!</div>
        </div> -->


        <!-- <div class="col-4">
            <div class="img">
                <img src="../../static/app/img/abituriyent00.jpg" alt="">
            </div>
            <div class="course-name">Talk-up qrupları</div>
            <div class="course-info-6">Lorem ipsum dolor sit amet Quod at doloribus dolores ipsum perspiciatis, quisquam accusamus error a rem similique praesentium autem aperiam mollitia dignissimos optio dolore sapiente ullam odio!</div>
        </div>

</div> -->


  
</section>
<!-- footer -->
<section id="footer">
    <div class="footer-container">
        <div class="footer-boxes">
            <div class="head-1">
                <div class="text">Haqqımızda</div>
                <div class="icon-1">
                    <i class="fas fa-graduation-cap"></i>
                </div>
            </div>
            <div class="body">
                <p class="box-1">Lorem ipsum dolor sit   t amet cons t amet consecteecteamet ipiro at explicabo esicing elit. Itaque rem libero at explicabo enim doloribus lauda sit amet ntium, optio</p>
                <div class="contact-info">
                    <div class="tel">
                        <i class="fas fa-phone-alt"></i>
                        <p>+994 55 684 25 54</p>
                    </div>
                    <div class="mail">
                        <i class="fas fa-envelope"></i>
                        <p>greenwich.academy10@gmail.com</p>
                    </div>
                    <div class="address">
                        <i class="fas fa-home"></i>
                        <p>Sumqayıt,Sülh plaza. 
                            3-cü mərtəbə-otaq 307</p>
                    </div>
                </div>
                <div class="social">
                    <button class="insta">
                        <i class="fab fa-instagram"></i>
                    </button>
                    <button class="fb">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button class="twitter">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button class="youtube">
                        <i class="fab fa-youtube"></i>
                    </button>
                    
                </div>
            </div>
        </div>
        <div class="footer-boxes">
            <div class="head-2">
                <div class="text">Kurslarımız</div>
                <div class="icon-2">
                    <i class="far fa-clock"></i>
                </div>
            </div>
            <div class="body">
                <div class="footer-courses-1">
                    <img src="../../static/app/img/site-photos.jpg" alt="">
                    <div class="course-info">
                        <h2>Ümumi İngilis dili</h2>
                        <p>Lorem cconsequatique mollita cupisequuntur laudantium optio aut?</p>
                    </div>
                </div>
                <div class="footer-courses-2">
                    <img src="../../static/app/img/site-photos0.jpg" alt="">
                    <div class="course-info">
                        <h2>Uşaqlar üçün İngilis dili</h2>
                        <p>Lorem cum iquatur loremque mollitia cupisequuntur laudantium optio aut?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-boxes">
            <div class="head-3">
                <div class="text">Bizimlə əlaqə</div>
                <div class="icon-3">
                    <i class="fas fa-pencil-alt"></i>
                </div>
            </div>
            <div class="body">
                <div class="row">
                    
                    <div class="col-75" style="background: #2D3339;">
                    <input type="text" id="fname" name="firstname" placeholder="Ad">
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-75">
                    <input type="text" id="lname" name="lastname" placeholder="Telefon">
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-75">
                <textarea id="subject" name="subject" placeholder="" style="height: 100px;" ></textarea>
                    </div>
                </div>
                <div class="row-button">
                    <button class="send">
                        Send 
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>