<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/app/css/education-abroad.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="../../static/app/css/grid.css">
            <link rel="stylesheet" href="../../static/app/css/common.css">
            <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
            <link rel="icon" href="../../static/app/img/logo.ico" type="image/gif" sizes="40x40">

        <title>Greenwich Academy - Xaricdə Təhsil</title>
    
    </head>
<body>
    <style>
        body{
        margin: 0px;
        font-family: 'Raleway', sans-serif;
        line-height: 1.0rem;
    }
    </style>
    <!-- header -->
    <section id="header-slider">
        <div class="header ">
            <div class="logo">
                <!-- <img src="../../static/app/img/logo.png" alt=""> -->
                <h3 style="margin-bottom: 0px;"> <a href="{{url_for('index')}}">Greenwich Academy</a></h3>
            </div>
            <div class="navbar" >
                <ul >
                    <li><a href="{{url_for('index')}}">Əsas səhifə</a></li>
                    <li><a href="{{url_for('about')}}">Haqqımızda</a></li>
                    <li><a href="{{url_for('courses')}}">Kurslarımız</a></li>
                    <li><a href="{{url_for('education_abroad')}}">Xaricdə təhsil</a></li>
                    <li class="nav-contact" style="border: none;"><a  href="{{url_for('contact')}}">Bizimlə əlaqə</a></li>
                    
                </ul>
                
            </div>
        </div>
        
    </section>
    <!-- Education-abroad header-->
    <section id="education-abroad-head" style="background: url(../../static/app/img/education-abroad.jpg)">
        <div class="education-abroad-text">
            Xaricdə Təhsil
        </div>
    </section>
    <!-- Education-abroad-main -->
    <section id="education-abroad">
        <div class="education-abroad-container">
            {% for cities in cities %}
            <div class="country">
                <img src="{{url_for('static', filename='uploads/' + cities.img)}}" alt="">
                <div class="country-text">
                <h1 style="background-color: #e4ba83; font-weight: 400;">{{cities.title}}</h1>
                <p>{{cities.desc}}</p></div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- FOOTER -->
    <section id="footer">
        <div class="footer-container">
            <div class="footer-boxes">
                <div class="head-1">
                    <div class="text">Haqqımızda</div>
                    <div class="icon-1">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                </div>
                <div class="body">
                    <p class="box-1">Lorem ipsum dolor sit   t amet cons t amet consecteecteamet ipiro at explicabo esicing elit. Itaque rem libero at explicabo enim doloribus lauda sit amet ntium, optio</p>
                    <div class="contact-info">
                        <div class="tel">
                            <i class="fas fa-phone-alt"></i>
                            <p>+994 55 684 25 54</p>
                        </div>
                        <div class="mail">
                            <i class="fas fa-envelope"></i>
                            <p>greenwich.academy10@gmail.com</p>
                        </div>
                        <div class="address">
                            <i class="fas fa-home"></i>
                            <p>Sumqayıt,Sülh plaza. 
                                3-cü mərtəbə-otaq 307</p>
                        </div>
                    </div>
                    <div class="social">
                        <button class="insta">
                            <i class="fab fa-instagram"></i>
                        </button>
                        <button class="fb">
                            <i class="fab fa-facebook-f"></i>
                        </button>
                        <button class="twitter">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button class="youtube">
                            <i class="fab fa-youtube"></i>
                        </button>
                        
                    </div>
                </div>
            </div>
            <div class="footer-boxes">
                <div class="head-2">
                    <div class="text">Kurslarımız</div>
                    <div class="icon-2">
                        <i class="far fa-clock"></i>
                    </div>
                </div>
                <div class="body">
                    <div class="footer-courses-1">
                        <img src="../../static/app/img/site-photos.jpg" alt="">
                        <div class="course-info">
                            <h2>Ümumi İngilis dili</h2>
                            <p>Lorem cconsequatique mollita cupisequuntur laudantium optio aut?</p>
                        </div>
                    </div>
                    <div class="footer-courses-2">
                        <img src="../../static/app/img/site-photos0.jpg" alt="">
                        <div class="course-info">
                            <h2 >Uşaqlar üçün İngilis dili</h2>
                            <p>Lorem cum iquatur loremque mollitia cupisequuntur laudantium optio aut?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-boxes">
                <div class="head-3">
                    <div class="text">Bizimlə əlaqə</div>
                    <div class="icon-3">
                        <i class="fas fa-pencil-alt"></i>
                    </div>
                </div>
                <div class="body">
                    <div class="row">
                        
                        <div class="col-75" style="background: #2D3339;">
                        <input type="text" id="fname" name="firstname" placeholder="Ad">
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-75">
                        <input type="text" id="lname" name="lastname" placeholder="Telefon">
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-75">
                    <textarea id="subject" name="subject" placeholder="" style="height: 100px;" ></textarea>
                        </div>
                    </div>
                    <div class="row-button">
                        <button class="send">
                            Send 
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>