body {
  margin: 0px auto;
  padding: 0px;
}

#header-slider {
  width: 100%;
}

#header-slider .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

#header-slider .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-slider .header .logo img {
  height: 60px;
  width: 76px;
  -o-object-fit: cover;
     object-fit: cover;
}

#header-slider .header .logo h3 {
  font-family: 'EB Garamond', serif;
  font-weight: 550;
  font-size: 30px;
}

#header-slider .header .logo h3 a {
  text-decoration: none;
  color: #5F5F5F;
  cursor: pointer;
}

#header-slider .navbar {
  padding: 0;
}

#header-slider .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-bottom: 0px;
  line-height: 1rem;
}

#header-slider .navbar ul li {
  list-style: none;
  border-right: 1px solid lightgray;
  margin-right: 8px;
  padding: 0px 15px;
  font-size: 500;
}

#header-slider .navbar ul li a {
  font-style: none;
  color: #5F5F5F;
  text-decoration: none;
}

#header-slider .navbar ul li a:hover {
  color: #f27c66;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

#header-slider .search {
  border-radius: 10px 0px;
  background: #f27c66;
  padding: 10px 20px;
  cursor: pointer;
}

#header-slider .search i {
  color: white;
}

#header-slider .search:hover {
  background: rgba(19, 160, 105, 0.7);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.slider {
  height: auto;
  width: 100%;
}

.slider .slider-container #carouselFade .carousel-inner {
  font-family: 'Raleway', sans-serif;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item {
  height: 90vh;
  position: relative;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item .introduction {
  margin: auto;
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 50%;
  margin-right: 200px;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item .introduction h1 {
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.7);
  color: #f27c66;
  font-weight: 400;
  border-radius: 15px 0px;
  text-align: center;
  font-size: 50px;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item .introduction p {
  text-align: center;
  color: white;
  font-weight: 300;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item {
  height: 90vh;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item .introduction-2 {
  position: absolute;
  z-index: 2;
  top: 15%;
  left: 20%;
  margin-right: 610px;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item .introduction-2 h1 {
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.7);
  color: #f27c66;
  font-weight: 400;
  border-radius: 15px 0px;
  text-align: center;
  font-size: 50px;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item .introduction-2 p {
  color: rgba(156, 151, 151, 0.7);
  text-align: center;
  font-weight: 300;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item {
  height: 90vh;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item .introduction-3 {
  position: absolute;
  z-index: 2;
  top: 60%;
  left: 60%;
  margin-right: 0px;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item .introduction-3 h1 {
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.7);
  color: #f27c66;
  font-weight: 400;
  border-radius: 15px 0px;
  text-align: center;
  font-size: 50px;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item .introduction-3 p {
  color: white;
  font-weight: 300;
  text-align: center;
}

.slider .slider-container #carouselFade .carousel-inner .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .three-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 4px;
}

.slider .three-bottom .first {
  color: #d36c59;
  background: #d36c59;
  width: 30px;
}

.slider .three-bottom .second {
  color: #e4ba83;
  background: #e4ba83;
  width: 30px;
}

.slider .three-bottom .third {
  color: #13a069;
  background: #13a069;
  width: 30px;
}

#latest-courses {
  height: auto;
  width: 100%;
}

#latest-courses h1 {
  text-align: center;
  padding: 60px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

#latest-courses .latest-courses-container {
  margin: auto;
  height: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

#latest-courses .latest-courses-container .col-4 {
  border-radius: 8px;
  -webkit-box-shadow: 20px solid lightgray;
          box-shadow: 20px solid lightgray;
  height: auto;
  width: 25%;
  margin-left: 35px;
  padding: 0px 0px;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  color: white;
}

#latest-courses .latest-courses-container .col-4 .img {
  overflow: hidden;
}

#latest-courses .latest-courses-container .col-4 .img img {
  height: 280px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
}

#latest-courses .latest-courses-container .col-4 .img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  overflow: hidden;
}

#latest-courses .latest-courses-container .col-4 .img .learn-more-1 {
  border: 1px solid #f7f6f6;
  color: white;
  background-color: rgba(161, 158, 158, 0.7);
  border-radius: 7px 0px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 36%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#latest-courses .latest-courses-container .col-4 .img .learn-more-1:hover {
  cursor: pointer;
  background: #d36c59;
}

#latest-courses .latest-courses-container .col-4 .img .learn-more-2 {
  border: 1px solid #f7f6f6;
  color: white;
  background-color: rgba(161, 158, 158, 0.7);
  border-radius: 7px 0px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 36%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#latest-courses .latest-courses-container .col-4 .img .learn-more-2:hover {
  cursor: pointer;
  background: #e4ba83;
}

#latest-courses .latest-courses-container .col-4 .img .learn-more-3 {
  border: 1px solid #f7f6f6;
  color: white;
  background-color: rgba(161, 158, 158, 0.7);
  border-radius: 7px 0px;
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 36%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#latest-courses .latest-courses-container .col-4 .img .learn-more-3:hover {
  cursor: pointer;
  background: #13a069;
}

#latest-courses .latest-courses-container .col-4 .course-name {
  background: #333333;
  padding: 15px;
  margin: -2px 0px;
}

#latest-courses .latest-courses-container .col-4 .course-info-1 {
  padding: 17px;
  background: #d36c59;
}

#latest-courses .latest-courses-container .col-4 .course-info-2 {
  padding: 17px;
  background: #e4ba83;
}

#latest-courses .latest-courses-container .col-4 .course-info-3 {
  padding: 17px;
  background: #13a069;
}

#latest-courses .button {
  text-align: center;
  margin: auto;
}

#latest-courses .button .learn-more {
  border: 1px solid #18BB7C;
  background: #18BB7C;
  color: white;
  padding: 10px 20px;
  border-radius: 8px 0px;
  font-family: 'Raleway', sans-serif;
  margin: 50px 50px;
  cursor: pointer;
}

#latest-courses .button .learn-more a {
  color: white;
  text-decoration: none;
}

#latest-courses .button .learn-more:hover {
  color: #18BB7C;
  background: rgba(0, 0, 0, 0.411);
  border: 1px solid rgba(44, 44, 44, 0.411);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.three-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 4px;
}

.three-bottom .first {
  color: #d36c59;
  background: #d36c59;
  width: 30px;
}

.three-bottom .second {
  color: #e4ba83;
  background: #e4ba83;
  width: 30px;
}

.three-bottom .third {
  color: #13a069;
  background: #13a069;
  width: 30px;
}

#teachers {
  width: 100%;
  height: auto;
  margin: auto;
}

#teachers h1 {
  text-align: center;
  padding: 60px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

#teachers .teachers-container {
  margin: auto;
  height: auto;
  padding-bottom: 60px;
  width: 90%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-bottom: 90px;
}

#teachers .teachers-container .teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 40%;
  height: auto;
  margin-right: 35px;
  border-radius: 5px;
}

#teachers .teachers-container .teacher .img {
  height: 200px;
  width: 35%;
  overflow: hidden;
}

#teachers .teachers-container .teacher .img img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#teachers .teachers-container .teacher .info-1 {
  width: 65%;
  height: auto;
  background: #d36c59;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

#teachers .teachers-container .teacher .info-1 .info-line {
  background: white;
  height: 1px;
  width: 90px;
  margin: auto;
}

#teachers .teachers-container .teacher .info-1 h1 {
  font-family: 'Raleway', sans-serif;
  padding: 40px;
}

#teachers .teachers-container .teacher .info-1 h5 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 10px;
}

#teachers .teachers-container .teacher .info-1 p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 10px;
}

#teachers .teachers-container .teacher {
  overflow: hidden;
  width: 40%;
  height: 200px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#teachers .teachers-container .teacher .img {
  height: 200px;
  width: 35%;
  overflow: hidden;
}

#teachers .teachers-container .teacher .img img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#teachers .teachers-container .teacher .info-2 {
  width: 65%;
  height: 200px;
  background: #454545;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

#teachers .teachers-container .teacher .info-2 .info-line {
  background: white;
  height: 1px;
  width: 85px;
  margin: auto;
}

#teachers .teachers-container .teacher .info-2 h1 {
  font-family: 'Raleway', sans-serif;
  padding: 40px;
}

#teachers .teachers-container .teacher .info-2 h5 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 10px;
}

#teachers .teachers-container .teacher .info-2 p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 10px;
}

#teachers .teachers-container .teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 40%;
  height: 200px;
  margin-right: 35px;
  border-radius: 5px;
}

#teachers .teachers-container .teacher .img {
  height: 230px;
  width: 35%;
  overflow: hidden;
}

#teachers .teachers-container .teacher .img img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#teachers .teachers-container .teacher .info-3 {
  width: 65%;
  height: 200px;
  background: #13a069;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

#teachers .teachers-container .teacher .info-3 .info-line {
  background: white;
  height: 1px;
  width: 90px;
  margin: auto;
}

#teachers .teachers-container .teacher .info-3 h1 {
  font-family: 'Raleway', sans-serif;
  padding: 40px;
}

#teachers .teachers-container .teacher .info-3 h5 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 10px;
}

#teachers .teachers-container .teacher .info-3 p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 10px;
}

#video-inform {
  width: 100%;
  height: auto;
  padding: 80px;
}

#video-inform .three-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 4px;
}

#video-inform .three-bottom .first {
  color: #d36c59;
  background: #d36c59;
  width: 30px;
}

#video-inform .three-bottom .second {
  color: #e4ba83;
  background: #e4ba83;
  width: 30px;
}

#video-inform .three-bottom .third {
  color: #13a069;
  background: #13a069;
  width: 30px;
}

#video-inform .video-inform-container {
  margin: auto;
  width: 70%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', sans-serif;
}

#video-inform .video-inform-container .video {
  width: 100%;
  height: auto;
}

#video-inform .video-inform-container .video video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

#video-inform .video-inform-container .inform {
  width: 100%;
  height: auto;
}

#video-inform .video-inform-container .inform h1 {
  color: #454545;
  font-size: 2.2em;
  padding: 10px 20px;
}

#video-inform .video-inform-container .inform p {
  color: #5F5F5F;
  padding: 10px 25px;
  margin-bottom: 0px;
}

#video-inform .video-inform-container .inform .watch-more {
  float: right;
  border: 1px solid #18BB7C;
  background: #18BB7C;
  color: white;
  padding: 10px 15px;
  border-radius: 8px 0px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

#video-inform .video-inform-container .inform .watch-more a {
  color: white;
  text-decoration: none;
}

#video-inform .video-inform-container .inform .watch-more:hover {
  color: #18BB7C;
  background: rgba(0, 0, 0, 0.411);
  border: 1px solid rgba(44, 44, 44, 0.411);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#footer {
  height: auto;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background: #2D3339;
}

#footer .footer-container {
  margin: auto;
  width: 70%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#footer .footer-container .footer-boxes {
  padding: 0px 0px;
  margin: 35px 15px;
  width: 370px;
}

#footer .footer-container .footer-boxes .head-1 {
  border-radius: 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f27c66;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  font-size: 25px;
}

#footer .footer-container .footer-boxes .head-1 .text {
  color: white;
}

#footer .footer-container .footer-boxes .head-1 .icon-1 {
  color: #2D3339;
}

#footer .footer-container .footer-boxes .body {
  color: #b0b0b0;
  font-family: 'Raleway', sans-serif;
}

#footer .footer-container .footer-boxes .body .box-1 {
  margin-top: 10px;
}

#footer .footer-container .footer-boxes .body p {
  margin: 5px 0px;
}

#footer .footer-container .footer-boxes .body .contact-info .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-container .footer-boxes .body .contact-info .tel i {
  margin-right: 10px;
}

#footer .footer-container .footer-boxes .body .contact-info .tel p {
  color: #b0b0b0;
}

#footer .footer-container .footer-boxes .body .contact-info .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-container .footer-boxes .body .contact-info .mail i {
  margin-right: 10px;
}

#footer .footer-container .footer-boxes .body .contact-info .mail p {
  color: #b0b0b0;
}

#footer .footer-container .footer-boxes .body .contact-info .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .footer-container .footer-boxes .body .contact-info .address i {
  margin-right: 10px;
}

#footer .footer-container .footer-boxes .body .contact-info .address p {
  color: #b0b0b0;
}

#footer .footer-container .footer-boxes .body .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

#footer .footer-container .footer-boxes .body .social .insta, #footer .footer-container .footer-boxes .body .social .twitter, #footer .footer-container .footer-boxes .body .social .youtube {
  border: 1px solid #f27c66;
  border-radius: 10px 0px;
  background-color: #2D3339;
  margin-right: 10px;
  outline: none;
}

#footer .footer-container .footer-boxes .body .social .insta i, #footer .footer-container .footer-boxes .body .social .twitter i, #footer .footer-container .footer-boxes .body .social .youtube i {
  color: white;
  padding: 15px 10px;
  font-size: 1.1em;
}

#footer .footer-container .footer-boxes .body .social .insta:hover, #footer .footer-container .footer-boxes .body .social .twitter:hover, #footer .footer-container .footer-boxes .body .social .youtube:hover {
  background: #f27c66;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

#footer .footer-container .footer-boxes .body .social .fb {
  border: 1px solid #f27c66;
  border-radius: 10px 0px;
  background-color: #2D3339;
  margin-right: 10px;
  outline: none;
}

#footer .footer-container .footer-boxes .body .social .fb i {
  color: white;
  padding: 15px 12px;
  font-size: 1.1em;
}

#footer .footer-container .footer-boxes .body .social .fb:hover {
  background: #f27c66;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

#footer .footer-container .head-2 {
  border-radius: 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #e4ba83;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  font-size: 25px;
}

#footer .footer-container .head-2 .text {
  color: white;
}

#footer .footer-container .head-2 .icon-2 {
  color: #2D3339;
}

#footer .footer-container .body {
  margin-top: 15px;
}

#footer .footer-container .body .footer-courses-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-container .body .footer-courses-1 img {
  margin-top: 10px;
  height: 90px;
  width: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

#footer .footer-container .body .footer-courses-1 .course-info {
  padding: 10px;
}

#footer .footer-container .body .footer-courses-1 .course-info h2 {
  color: white;
  font-size: medium;
}

#footer .footer-container .body .footer-courses-1 .course-info p {
  font-size: small;
}

#footer .footer-container .body .footer-courses-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-container .body .footer-courses-2 img {
  margin-top: 10px;
  height: 90px;
  width: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

#footer .footer-container .body .footer-courses-2 .course-info {
  padding: 10px;
}

#footer .footer-container .body .footer-courses-2 .course-info h2 {
  color: white;
  font-size: medium;
}

#footer .footer-container .body .footer-courses-2 .course-info p {
  font-size: small;
}

#footer .footer-container .head-3 {
  border-radius: 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #18BB7C;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  font-size: 25px;
}

#footer .footer-container .head-3 .text {
  color: white;
}

#footer .footer-container .head-3 .icon-3 {
  color: #2D3339;
}

#footer .footer-container .body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#footer .footer-container .body input[type=text], #footer .footer-container .body select, #footer .footer-container .body textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px 0px;
  resize: vertical;
  font-family: 'Raleway', sans-serif;
  outline: none;
}

#footer .footer-container .body .col-75 {
  float: left;
  width: 100%;
  margin-top: 6px;
  margin-left: 0px;
  background: #2D3339;
}

#footer .footer-container .body .row:after {
  content: "";
  display: table;
  clear: both;
}

#footer .footer-container .body .row-button {
  float: right;
  margin-top: 5px;
}

#footer .footer-container .body .row-button .send {
  border: 1px solid #18BB7C;
  color: #18BB7C;
  background: #2D3339;
  border-radius: 10px 0px;
  font-family: 'Raleway', sans-serif;
  padding: 10px 40px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
}

#footer .footer-container .body .row-button .send:hover {
  background: #18BB7C;
  color: white;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
/*# sourceMappingURL=homepage.css.map */