$main-color-pink:#f27c66;
$main-color-pink-dark:#d36c59;
$main-color-yellow:#F9CB8F;
$main-color-yellow-dark:#e4ba83;
$main-color-green:#18BB7C;
$main-color-green-dark:#13a069;
$main-color-blue:#4bbcd7;
$main-color-blue-dark:#1992c1;
$main-color-lightgray:#b0b0b0;
$main-color-lightgray-dark:#969696;
$main-color-gray:#5F5F5F;
$main-color-gray-dark:#454545;
