{% extends 'admin/layout.html' %}

{% block content %}

<section class="Cities"style="padding: 20px 0px;">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h3 class="my-3">Yeni Şəhər Əlavə et</h3>
              <form action="/admin/cities/" method="POST" enctype="multipart/form-data">
              <div class="from-group my-2">
                  <input type="text" class="form-control" name="title" placeholder="Şəhər">
              </div>
              <div class="from-group my-2">
                  <input type="text" class="form-control" name="desc" placeholder="Məlumat">
              </div>
              <div class="from-group my-2">
                  <input type="file" class="form-control" name="img" placeholder="Image">
              </div>
              <div class="from-group my-2">
                  <input type="submit"  class="btn btn-success" value="Əlavə et">
              </div>
              </form>
          </div>
      </div>
  </div>
</section>
<section class="cities" style="padding: 20px 0px;">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h3 class="my-3">Bütün Şəhərlər</h3>
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Şəhər</th>
                      <th scope="col">Məlumat</th>
                      <th scope="col">Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for cities in cities %}
                    <tr>
                      <td>{{cities.id}}</td>
                      <td>{{cities.title}}</td>
                      <td>{{cities.desc}}</td>
                      <td>
                          <a href="/admin/cities/delete/{{cities.id}}"><i class="bi bi-trash mx-1"></i></a>
                          <a href="/admin/cities/update/{{cities.id}}"><i class="bi bi-pencil mx-1"></i></a>
                          <a href="/admin/cities/detail/{{cities.id}}"><i class="bi bi-envelope-open mx-1"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
          </div>
      </div>
  </div>
</section>
{% endblock %}