{% extends 'admin/layout.html' %}

{% block content %}

<section class="Courses"style="padding: 20px 0px;">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h3 class="my-3">Yeni Kurs Əlavə et</h3>
              <form action="/admin/courses/" method="POST" enctype="multipart/form-data">
              <div class="from-group my-2">
                  <input type="text" class="form-control" name="title" placeholder="Kurs adı">
              </div>
              <div class="from-group my-2">
                  <input type="text" class="form-control" name="desc" placeholder="Məlumat">
              </div>
              <div class="from-group my-2">
                  <input type="file" class="form-control" name="img" placeholder="Image">
              </div>
              <div class="from-group my-2">
                  <input type="submit"  class="btn btn-success" value="Əlavə et">
              </div>
              </form>
          </div>
      </div>
  </div>
</section>
<section class="courses"style="padding: 20px 0px;">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h3 class="my-3">Bütün Kurslar</h3>
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Kurs adı</th>
                      <th scope="col">Məlumat</th>
                      <th scope="col">Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for courses in courses %}
                    <tr>
                      <td>{{courses.id}}</td>
                      <td>{{courses.title}}</td>
                      <td>{{courses.desc}}</td>
                      <td>
                          <a href="/admin/courses/delete/{{courses.id}}"><i class="bi bi-trash mx-1"></i></a>
                          <a href="/admin/courses/update/{{courses.id}}"><i class="bi bi-pencil mx-1"></i></a>
                          <a href="/admin/courses/detail/{{courses.id}}"><i class="bi bi-envelope-open mx-1"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
          </div>
      </div>
  </div>
</section>
{% endblock %}