{% extends 'admin/layout.html' %}

{% block content %}
<section class="Messages"style="padding: 20px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="my-3">Bütün Mesajlar</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Ad</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mesaj</th>
                        <th scope="col">Edit</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for messages in messages %}
                      <tr>
                        <td>{{messages.id}}</td>
                        <td>{{messages.name}}</td>
                        <td>{{messages.email}}</td>
                        <td>{{messages.content}}</td>
                        <td>
                            <a href="/admin/messages/delete/{{messages.id}}"><i class="bi bi-trash mx-1"></i></a>
                            <a href="/admin/messages/detail/{{messages.id}}"><i class="bi bi-envelope-open mx-1"></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
  </section>
  {% endblock %}