{% extends 'admin/layout.html' %}

{% block content %}
<div class="container"style="padding: 20px 0px;">
  <div class="row">
    <div class="col-12">
        <div class="card" >
          <ul class="list-group">
              <li class="list-group-item">Id : {{messagesdetail.id}}</li>
              <li class="list-group-item">Ad : {{messagesdetail.name}}</li>
              <li class="list-group-item">Email : {{messagesdetail.email}}</li>
              <li class="list-group-item">Mesaj : {{messagesdetail.content}}</li>
          </ul>
  </div>
{% endblock %}