{% extends 'admin/layout.html' %}

{% block content %}
<section class="slider">
  <div class="container"style="padding: 20px 0px;">
      <div class="row">
          <div class="col-12">
              <h4 class="my-3">Yenilə</h4>
              <form action="/admin/teachers/update/{{update.id}}" method="POST" enctype="multipart/form-data">
                <div class="from-group my-2">
                    <input type="text" class="form-control" name="name" placeholder=" Ad Soyad" value={{update.name}}>
                </div>
              <div class="from-group my-2">
                  <input type="text" class="form-control" name="title" placeholder=" Status" value={{update.title}}>
              </div>
              <div class="from-group my-2">
                  <input type="text" class="form-control" name="desc" placeholder=" Fənn" value={{update.desc}}>
              </div>
            <div class="from-group my-2">
                <input type="text" class="form-control" name="phone" placeholder=" Telefon" value={{update.phone}}>
            </div>
              <div class="from-group my-2">
                  <input type="file" class="form-control" name="img" placeholder=" Image" >
              </div>
              <div class="from-group my-2">
                  <input type="submit" class="btn btn-success" value="Yenilə">
              </div>
              </form>
          </div>
      </div>
  </div>
</section>
{% endblock %}