@import '../color.scss';

body{
    margin: 0px auto;
    padding: 0px;

}
#header-slider{
    width: 100%;
    // header
    .header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 70px;
        .logo{
            display: flex;
            align-items: center;
            
            img{
                height: 60px;
                width: 76px;
                object-fit: cover;
            }
            h3{
                font-family: 'EB Garamond', serif;
                font-weight: 550;
                font-size: 30px;
                a{
                    text-decoration: none;
                    color: $main-color-gray;
                    cursor: pointer;
                }
                
            }
            
            }
        }

        .navbar{
            padding: 0;
            ul{
                display: flex;
                font-family: 'Raleway', sans-serif;
                font-weight: 300;
                margin-bottom: 0px;
                line-height: 1rem;
                
                
                li{
                    list-style: none;
                    border-right: 1px solid lightgray;
                    margin-right: 8px;
                    padding: 0px 15px;
                    font-size: 500;
                
                    a{
                    font-style: none;
                    color: $main-color-gray;
                    text-decoration: none;
                    &:hover{
                        color: $main-color-pink;
                        transition: all .3s ease;
                        cursor: pointer;
                        
                    }
                    }
                }
                
            }
        }
        .search{
            border-radius: 10px 0px;
            background: $main-color-pink;
            padding: 10px 20px;
            cursor: pointer;
                i{
                    
                    color: rgb(255, 255, 255);
                   
                } &:hover {
                    background: rgba(19,160,105,.7);
                    transition: all .4s ease;
                    
                    
                }
                

            }
    
    }
    // slider
    .slider{
        height: auto;
        width: 100%;
        
        .slider-container{
            #carouselFade{
                .carousel-inner{
                    font-family: 'Raleway', sans-serif;
                    .carousel-item{
                        height: 90vh;
                        position: relative;
                         .introduction{
                             margin: auto;
                            position: absolute;
                            z-index: 1;
                            top: 15%;
                            left: 50%;
                            margin-right: 200px;

                            h1{
                                padding: 20px 30px;
                                background: rgba(255, 255, 255, 0.7);
                                color: $main-color-pink;
                                font-weight: 400;
                                border-radius: 15px 0px;
                                text-align: center;
                                font-size: 50px;

                            }
                            p{
                                text-align: center;
                                color: white;
                                font-weight: 300;
                            }
                        }
                    }
                    .carousel-item{
                        height: 90vh;
                        .introduction-2{
                            position: absolute;
                            z-index: 2;
                            top: 15%;
                            left: 20%;
                            margin-right: 610px;
                            h1{
                                padding: 20px 30px;
                                background: rgba(255, 255, 255, 0.7);
                                color: $main-color-pink;
                                font-weight: 400;
                                border-radius: 15px 0px;
                                text-align: center;
                                font-size: 50px;
                            }
                            p{
                                color: rgba(156, 151, 151,.7);
                                text-align: center;
                                font-weight: 300;
                               
                            }
                        }
                       
                        img{
                            object-fit: cover;
                        }
                    }
                    .carousel-item{
                        height: 90vh;
                        .introduction-3{
                            position: absolute;
                            z-index: 2;
                            top: 60%;
                            left: 60%;
                            margin-right: 0px;
                            h1{
                                padding: 20px 30px;
                                background: rgba(255, 255, 255, 0.7);
                                color: $main-color-pink;
                                font-weight: 400;
                                border-radius: 15px 0px;
                                text-align: center;
                                font-size: 50px;
                            }
                            p{
                                color: white;
                                font-weight: 300;
                                text-align: center;
                            }
                        }
                        img{
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        // Divided (3 color)
        .three-bottom{
            display: flex;
            justify-content: center;
            overflow: hidden;
            height: 4px;
            .first{
                color: $main-color-pink-dark;
                background: $main-color-pink-dark;
                width: 30px;
            }
            .second{
                color: $main-color-yellow-dark;
                background: $main-color-yellow-dark;
                width: 30px;
            }
            .third{
                color: $main-color-green-dark;
                background: $main-color-green-dark;
                width: 30px;
            }
        }

        
    }


// latest courses 
#latest-courses{
    height: auto;
    width: 100%; 
    
    h1{
        text-align: center;
        padding: 60px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 1.5em;
        transition: all .6s ease;
        // &:hover{
        //     color: $main-color-pink;
        //     cursor: pointer;
        // }
        
    }
    .latest-courses-container{
        margin: auto;
        height: auto;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
       padding-bottom: 40px;

        .col-4{
            border-radius: 8px;
            box-shadow: 20px solid lightgray;
            height: auto;
            width: 25%;
            margin-left: 35px;
            padding: 0px 0px;
            overflow: hidden;
            font-family:'Raleway', sans-serif ;
            color: white;
            .img{
            overflow: hidden;
            img{
            height: 280px;
            width: 100%;
            object-fit: cover;
            position: relative;
            transition: all .9s ease;
            &:hover{
                transform: scale(1.1);
                overflow: hidden;
            }
            }
            .learn-more-1{
                border: 1px solid rgb(247, 246, 246);
                color: rgb(255, 255, 255);
                background-color: rgba(161, 158, 158, 0.7);
                border-radius: 7px 0px;
                padding: 10px;
                position: absolute;
                z-index: 2;
                top: 30%;
                left: 36%;
                transition: all .4s ease;
                &:hover{
                    cursor: pointer;
                    background: $main-color-pink-dark;
                    
                }
            }
            .learn-more-2{
                border: 1px solid rgb(247, 246, 246);
                color: rgb(255, 255, 255);
                background-color: rgba(161, 158, 158, 0.7);
                border-radius: 7px 0px;
                padding: 10px;
                position: absolute;
                z-index: 2;
                top: 30%;
                left: 36%;
                transition: all .4s ease;
                &:hover{
                    cursor: pointer;
                    background: $main-color-yellow-dark;
                    
                }
            }
            .learn-more-3{
                border: 1px solid rgb(247, 246, 246);
                color: rgb(255, 255, 255);
                background-color: rgba(161, 158, 158, 0.7);
                border-radius: 7px 0px;
                padding: 10px;
                position: absolute;
                z-index: 2;
                top: 30%;
                left: 36%;
                transition: all .4s ease;
                &:hover{
                    cursor: pointer;
                    background: $main-color-green-dark;
                    
                }
            }
            }
            .course-name{
                background:#333333;
                padding: 15px;
                margin: -2px 0px;
            }
            .course-info-1{
                padding: 17px;
                background: $main-color-pink-dark;
            }
            .course-info-2{
                padding: 17px;
                background: $main-color-yellow-dark;
            }
            .course-info-3{
                padding: 17px;
                background: $main-color-green-dark;
            }
        }
        
    }
    .button{
    text-align: center;
    margin: auto;
        .learn-more{
        border: 1px solid $main-color-green;
        background: $main-color-green;
        color: white;
        padding: 10px 20px;
        border-radius: 8px 0px;
        font-family: 'Raleway', sans-serif;
        margin: 50px 50px;
        cursor: pointer;
        a{
            color: white;
            text-decoration: none;
            
        }
        &:hover{

            color: $main-color-green;
            background: rgba(0, 0, 0, 0.411);
            border: 1px solid rgba(44, 44, 44, 0.411);
            transition: all .4s ease;
            
        }
        

    }
    }
  
    
}

    .three-bottom{
        display: flex;
        justify-content: center;
        overflow: hidden;
        height: 4px;
        .first{
            color: $main-color-pink-dark;
            background: $main-color-pink-dark;
            width: 30px;
        }
        .second{
            color: $main-color-yellow-dark;
            background: $main-color-yellow-dark;
            width: 30px;
        }
        .third{
            color: $main-color-green-dark;
            background: $main-color-green-dark;
            width: 30px;
        }
    }

// OUR TEACHERS
#teachers{
    width: 100%;
    height: auto;
    margin: auto;
    h1{
        text-align: center;
        padding: 60px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 1.5em;
        transition: all .6s ease;
        // &:hover{
        //     color: $main-color-green;
        //     cursor: pointer;
        // }
    }
    .teachers-container{
        margin: auto;
        height: auto;
        padding-bottom: 60px;
        width: 90%;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        margin-bottom: 90px;
        .teacher{
            display: flex;
            justify-content: center;
            overflow: hidden;
            width: 40%;
            height:auto;
            margin-right: 35px;
            border-radius: 5px;
            .img{
                height: 200px;
                width: 35%;
                overflow: hidden;
                img{
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .info-1{
                width: 65%;
                height:auto;
                background: $main-color-pink-dark;
                transition: all .3s linear;
                .info-line{
                    background: white;
                    height: 1px;
                    width: 90px;
                    margin: auto;
                    
                }
                // &:hover{
                //     background: white;
                //     color: $main-color-pink;
                    
                // }
                h1{
                    font-family: 'Raleway', sans-serif;
                    padding: 40px;
                    // &:hover{
                    //     color: $main-color-gray;
                    // }
                }
                h5{
                    font-family: 'Raleway', sans-serif;
                    text-align: center;
                    margin: 10px;
                }
                
                p{
                    font-family: 'Raleway', sans-serif;
                    text-align: center;
                    margin: 10px;
                }
                
            }
        }
        .teacher{
            overflow: hidden;
            width: 40%;
            height: 200px;
            border-radius: 5px;
            display: flex;
            .img{
                height: 200px;
                width: 35%;
                overflow: hidden;
                img{
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .info-2{
                width: 65%;
                height: 200px;
                background: $main-color-gray-dark;
                transition: all .3s linear;.info-line{
                    background: white;
                    height: 1px;
                    width: 85px;
                    margin: auto;
                    // &:hover{
                    //     background: $main-color-pink;
                    // }
                }
                // &:hover{
                //     background: white;
                //     color: $main-color-gray;
                // }
                h1{
                    font-family: 'Raleway', sans-serif;
                    padding: 40px;
                    // &:hover{
                    //     color: $main-color-gray;
                    // }
                    
                }
                h5{
                    font-family: 'Raleway', sans-serif;
                    text-align: center;
                    margin: 10px;
                }
                
                p{
                    font-family: 'Raleway', sans-serif;
                    text-align: center;
                    margin: 10px;
                }
                
            }

        }
        .teacher{
            display: flex;
            justify-content: center;
            overflow: hidden;
            width: 40%;
            height: 200px;
            margin-right: 35px;
            border-radius: 5px;
            .img{
                height: 230px;
                width: 35%;
                overflow: hidden;
                img{
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .info-3{
                width: 65%;
                height: 200px;
                background: $main-color-green-dark;
                transition: all .3s linear;
                .info-line{
                    background: white;
                    height: 1px;
                    width: 90px;
                    margin: auto;
                    
                }
                // &:hover{
                //     background: white;
                //     color: $main-color-pink;
                    
                // }
                h1{
                    font-family: 'Raleway', sans-serif;
                    padding: 40px;
                    // &:hover{
                    //     color: $main-color-gray;
                    // }
                }
                h5{
                    font-family: 'Raleway', sans-serif;
                    text-align: center;
                    margin: 10px;
                }
                
                p{
                    font-family: 'Raleway', sans-serif;
                    text-align: center;
                    margin: 10px;
                }
                
            }
        }
    }
    

}
// Video il eetrafli melumat
#video-inform{
    width: 100%;
    height: auto;
    padding: 80px;
    .three-bottom{
        display: flex;
        justify-content: center;
        overflow: hidden;
        height: 4px;
        .first{
            color: $main-color-pink-dark;
            background: $main-color-pink-dark;
            width: 30px;
        }
        .second{
            color: $main-color-yellow-dark;
            background: $main-color-yellow-dark;
            width: 30px;
        }
        .third{
            color: $main-color-green-dark;
            background: $main-color-green-dark;
            width: 30px;
        }
    }
    .video-inform-container{
        margin: auto;
        width: 70%;
        height: auto;
        display: flex;
        // padding: 40px;
        font-family: 'Raleway', sans-serif;
        .video{
            width: 100%;
            height: auto;
            video{
                width: 100%;
                height: auto;
                object-fit: cover;
                box-sizing: border-box;
                outline: none;
             
            }
        }
        .inform{
            width: 100%;
            height: auto;
            h1{
                color: $main-color-gray-dark;
                font-size: 2.2em;
                padding: 10px 20px;


            }
            p{
                color: $main-color-gray;
                padding: 10px 25px;
                margin-bottom: 0px;
                
            }
            .watch-more {
                float: right;
                border: 1px solid $main-color-green;
                background: $main-color-green;
                color: white;
                padding: 10px 15px;
                border-radius: 8px 0px;
                font-family: 'Raleway', sans-serif;
                cursor: pointer;
                outline: none;
                text-decoration: none;
                    a{
                        color: white;
                        text-decoration: none;
                        
                    }
                &:hover{
                    color: $main-color-green;
                    background: rgba(0, 0, 0, 0.411);
                    border: 1px solid rgba(44, 44, 44, 0.411);
                    transition: all .4s ease;
                    
                }
            }
        }
    }
}
// FOOTER
#footer{
    height: auto;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background: #2D3339;
    .footer-container{
        margin: auto;
        width: 70%;
        height: auto;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        .footer-boxes{
            padding: 0px 0px;
            margin: 35px 15px;
            width: 370px;
            
            
            .head-1{
                border-radius: 7px 0px;
                display: flex;
                justify-content: space-between;
                background: $main-color-pink;
                font-weight: 300;
                box-sizing: border-box;
                padding: 15px ;
                font-size: 25px;
                .text{
                    color: white;
                }
                .icon-1{
                    color: #2D3339;
                }
                
            }
            .body{
                color: $main-color-lightgray;
                font-family: 'Raleway', sans-serif;
                .box-1{
                    margin-top:10px;
                }
                p{
                    margin: 5px 0px;
                }
                .contact-info{
                    .tel{
                        display: flex;
                        justify-content: baseline;
                        align-items: center;
                        i{
                            margin-right: 10px;
                        }
                        p{
                            color: $main-color-lightgray;
                        }
                    }
                    .mail{
                        display: flex;
                        justify-content: baseline;
                        align-items: center;
                        i{
                            margin-right: 10px;
                        }
                        p{
                            color: $main-color-lightgray;
                        }
                    }
                    .address{
                        display: flex;
                        justify-content: baseline;
                        align-items: center;
                        i{
                            margin-right: 10px;
                        }
                        p{
                            color: $main-color-lightgray;
                        }
                    }
                    }
                    .social{
                    display: flex;
                    margin-top: 10px;
                    .insta,.twitter,.youtube{
                        border: 1px solid $main-color-pink;
                        border-radius: 10px 0px;
                        background-color:#2D3339 ;
                        margin-right: 10px;
                        outline: none;
                        i{
                            color: white;
                            padding: 15px 10px;
                            font-size: 1.1em;
                            
                        }
                        
                        
                        &:hover{
                            background: $main-color-pink;
                            transition: all .3s ease;
                            cursor: pointer;
                        }
                    }
                    .fb{
                        border: 1px solid $main-color-pink;
                        border-radius: 10px 0px;
                        background-color:#2D3339 ;
                        margin-right: 10px;
                        outline: none;
                        i{
                            color: white;
                            padding: 15px 12px;
                            font-size: 1.1em;
                            
                            
                        }
                        &:hover{
                                background: $main-color-pink;
                                transition: all .3s ease;
                                cursor: pointer;
                                
                            }
                        }
                    
                }
                }
                
            }
            .head-2{
                border-radius:7px 0px ;
                display: flex;
                justify-content: space-between;
                background: $main-color-yellow-dark;
                font-weight: 300;
                box-sizing: border-box;
                padding: 15px ;
                font-size: 25px;
                .text{
                    color: white;
                }
                .icon-2{
                    color: #2D3339;
                }
            }
            .body{
                margin-top: 15px;
                .footer-courses-1{
                    display: flex;
                    img{
                        margin-top: 10px;
                        height: 90px;
                        width: 110px;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                    .course-info{
                        padding: 10px;
                        h2{
                            color: white;
                            font-size: medium;
                            
                        }
                        p{
                            font-size: small;
                        }

                    }
                }
                .footer-courses-2{
                    display: flex;
                    img{
                        margin-top: 10px;
                        height: 90px;
                        width: 110px;
                        object-fit: cover;
                        border-radius: 5px;
                        
                    }
                    .course-info{
                        padding: 10px;
                        h2{
                            color: white;
                            font-size: medium;
                        }
                        p{
                            font-size: small;
                        }

                    }
                }
            }
            .head-3{
                border-radius:7px 0px ;
                display: flex;
                justify-content: space-between;
                background: $main-color-green;
                font-weight: 300;
                box-sizing: border-box;
                padding: 15px ;
                font-size: 25px;
                .text{
                    color: white;
                }
                .icon-3{
                    color: #2D3339;
                }
            }
            .body{
                
                * {
                    box-sizing: border-box;
                }
                
                input[type=text], select, textarea {
                    width: 100%;
                    padding: 12px;
                    border: 1px solid transparent;
                    background: rgba(255,255,255,0.9) ;
                    border-radius: 5px 0px;
                    resize: vertical;
                    font-family: 'Raleway', sans-serif;
                    outline: none;
                }
                .col-75 {
                    float: left;
                    width: 100%;
                    margin-top: 6px;
                    margin-left: 0px;
                    background: #2D3339;
                    
                }

                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                .row-button{
                    float: right;
                    margin-top: 5px;
                    .send{
                        border:1px solid  $main-color-green;
                        color: $main-color-green;
                        background: #2D3339;
                        border-radius: 10px 0px;
                        font-family: 'Raleway', sans-serif;
                        padding: 10px 40px;
                        font-size: 15px;
                        font-weight: 500;
                        outline: none;
                        &:hover{
                            background: $main-color-green;
                            color: white;
                            transition: all .5s ease;
                        }

                    }
                }
            }
        }

    }
